{%- if settings.cart_type == 'drawer' -%}
  <div id="CartDrawer" class="drawer drawer--right">
    <form
      id="CartDrawerForm"
      action="{{ routes.cart_url }}"
      method="post"
      novalidate
      class="drawer__contents"
      data-location="cart-drawer"
    >
      <div class="drawer__fixed-header">
        <div class="drawer__header appear-animation appear-delay-1">
          <div class="h2 drawer__title">{{ 'cart.general.title' | t }}</div>
          <div class="drawer__close">
            <button type="button" class="drawer__close-button js-drawer-close">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64">
                <title>icon-X</title><path d="m19 17.61 27.12 27.13m0-27.12L19 44.74"/>
              </svg>
              <span class="icon__fallback-text">{{ 'cart.general.close_cart' | t }}</span>
            </button>
          </div>
        </div>
      </div>

      {% render 'cart-progress-bar-custom' %}

      <div class="drawer__inner">
        <div class="drawer__scrollable">
          <div data-products class="appear-animation appear-delay-2"></div>

          {% if settings.cart_notes_enable %}
            <div class="appear-animation appear-delay-3">
              <label for="CartNoteDrawer">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full cart-notes" id="CartNoteDrawer">{{ cart.note }}</textarea>
            </div>
          {% endif %}
        </div>

        <div class="drawer__footer appear-animation appear-delay-4">
          <div data-discounts>
            {% if cart.cart_level_discount_applications != blank %}
              <div class="cart__discounts cart__item-sub cart__item-row">
                <div>{{ 'cart.general.discounts' | t }}</div>
                <div class="text-right">
                  {% for cart_discount in cart.cart_level_discount_applications %}
                    <div class="cart__discount">
                      {{ cart_discount.title }} (-{{ cart_discount.total_allocated_amount | money }})
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>

          <div class="cart__item-sub cart__item-row">
            <div class="ajaxcart__subtotal">{{ 'cart.general.subtotal' | t }}</div>
            <div data-subtotal>{{ cart.total_price | money }}</div>
          </div>

          <div class="cart__item-row text-center">
            <small>
              {{ 'cart.general.shipping_at_checkout' | t -}}
              <br>
            </small>
          </div>

          {% if settings.cart_terms_conditions_enable %}
            <div class="cart__item-row cart__terms">
              <input type="checkbox" id="CartTermsDrawer" class="cart__terms-checkbox">
              <label for="CartTermsDrawer">
                {% if settings.cart_terms_conditions_page != blank %}
                  {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_page.url }}
                {% else %}
                  {{ 'cart.general.terms' | t }}
                {% endif %}
              </label>
            </div>
          {% endif %}

          <div class="cart__checkout-wrapper">
            <button
              type="submit"
              name="checkout"
              data-terms-required="{{ settings.cart_terms_conditions_enable }}"
              class="btn cart__checkout"
            >
              {{ 'cart.general.checkout' | t }}
            </button>

            <button data-fancybox data-src="#cart-sample-product" class="btn cart__checkout sample-product-btn">
              Checkout
            </button>

            <div id="cart-sample-product" style="display:none;">
              {% if settings.heading != blank or settings.text != blank %}
                <div class="top-heading">
                  {% if settings.heading != blank %}
                    <h2>{{ settings.heading }}</h2>
                  {% endif %}
                  {% if settings.text != blank %}
                    <h4>{{ settings.text }}</h4>
                  {% endif %}
                </div>
              {% endif %}

              {% assign required_amount = settings.amount | times: 1 %}
              {% if cart.total_price > required_amount %}
                <div class="sample-product-row premium-product {{ settings.amount }} {{ totalPrice }}">
                  {% for Pproduct in settings.premium_products %}
                    <div class="sample-product">
                      <div class="f-image">
                        <img src="{{ Pproduct.featured_image | img_url:'300x' }}">
                      </div>
                      <div class="grid-product__info">
                        <div class="grid-product__title grid-product__title--body">{{ Pproduct.title }}</div>
                        {% assign current_variant = Pproduct.selected_or_first_available_variant %}
                        <div class="atc-btn">
                          <button
                            type="button"
                            {% unless current_variant.available %}
                              disabled="disabled"
                            {% endunless %}
                            onclick="add_to_cart_grid({{ current_variant.id }}, 1)"
                            class="btn"
                          >
                            {% if current_variant.available %}
                              {{ 'products.product.add_to_cart' | t }}
                            {% else %}
                              {{ 'products.product.sold_out' | t }}
                            {% endif %}
                          </button>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>

              {% else %}
                <div class="sample-product-row simple-product">
                  {% for Sproduct in settings.sample_products %}
                    <div class="sample-product">
                      <div class="f-image">
                        <img src="{{ Sproduct.featured_image | img_url:'300x' }}">
                      </div>
                      <div class="grid-product__info">
                        <div class="grid-product__title grid-product__title--body">{{ Sproduct.title }}</div>
                        {% assign current_variant = Sproduct.selected_or_first_available_variant %}
                        <div class="atc-btn">
                          <button
                            type="button"
                            {% unless current_variant.available %}
                              disabled="disabled"
                            {% endunless %}
                            onclick="add_to_cart_grid({{ current_variant.id }}, 1)"
                            class="btn"
                          >
                            {% if current_variant.available %}
                              {{ 'products.product.add_to_cart' | t }}
                            {% else %}
                              {{ 'products.product.sold_out' | t }}
                            {% endif %}
                          </button>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            {% if additional_checkout_buttons and settings.cart_additional_buttons %}
              <div class="additional-checkout-buttons additional-checkout-buttons--vertical">
                {{ content_for_additional_checkout_buttons }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="drawer__cart-empty appear-animation appear-delay-2">
        <div class="drawer__scrollable">
          {{ 'cart.general.empty' | t }}
        </div>
      </div>
    </form>
  </div>
{%- endif -%}
