{%- liquid
  unless limit
    assign limit = main_menu.links.size
  endunless
  unless offset
    assign offset = 0
  endunless
-%}




<ul
  class="site-nav site-navigation small--hide"
>
  {%- for link in main_menu.links limit: limit offset: offset -%}


    {% assign has_handle = false %}
      {% assign link_handle = link.title | handle %}
      {% for block in section.blocks %}
        {% if block.settings.link_handle == link_handle %}
          {% assign has_handle = true %}
          {% break %}
        {% endif %}
      {% endfor %}

    
    {%- liquid
      assign has_dropdown = false
      assign is_megamenu = false
      if link.links != blank
        assign has_dropdown = true
        if section.blocks.size > 0 and has_handle
          assign is_megamenu = true
        endif
      endif
    -%}

    <li class="{{ link.title | handle }} site-nav__item site-nav__expanded-item{% if has_dropdown %} site-nav--has-dropdown{% endif %}{% if is_megamenu %} site-nav--is-megamenu{% endif %}">
      {% if is_megamenu or has_dropdown %}
        <details
          data-hover="{{ hover_menu }}"
          id="site-nav-item--{{ forloop.index }}"
          class="site-nav__details"
        >
          <summary
            data-link="{{ link.url }}"
            aria-expanded="false"
            aria-controls="site-nav-item--{{ forloop.index }}"
            class="site-nav__link site-nav__link--underline{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}"
          >
            {{ link.title }}
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="icon icon--wide icon-chevron-down"
              viewBox="0 0 28 16"
            >
              <path d="m1.57 1.59 12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none"/>
            </svg>
          </summary>
      {% else %}
        <a
          href="{{ link.url }}"
          class="site-nav__link site-nav__link--underline{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}"
        >
          {{ link.title }}
        </a>
      {% endif %}
      {%- if is_megamenu -%}
        {%- assign previous_column_type = '' -%}
        {%- assign animation_column = 1 -%}

        <div class="site-nav__dropdown megamenu text-left">
          <div class="page-width">
            <div class="grid{% if dropdown_alignment == 'center' %} grid--center{% endif %}">
              {% for block in section.blocks %}
                <div class="custom-grid grid__item {{ block.settings.link_handle }}">
                  {% if block.settings.link_list_1 != blank %}
                    <div class="custom-linklist grid-item">
                      {% assign menu = linklists[block.settings.link_list_1] %}
                      <p class="menu__heading h5">
                        {% if link_setting != blank %}<a href="{{ link_setting }}">{% endif %}
                        {{ menu.title }}
                        {% if link_setting != blank %}</a>{% endif %}
                      </p>
                      <ul>
                        {% for link in menu.links %}
                          <li class="menu-link">
                            <a href="{{ link.url }}" class="{% if link.active %}is-active{% endif %}">
                              {{ link.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}

                  {% if block.settings.link_list_2 != blank %}
                    <div class="custom-linklist grid-item">
                      {% assign menu = linklists[block.settings.link_list_2] %}
                      <p class="menu__heading h5">
                        {% if link_setting != blank %}<a href="{{ link_setting }}">{% endif %}
                        {{ menu.title }}
                        {% if link_setting != blank %}</a>{% endif %}
                      </p>
                      <ul>
                        {% for link in menu.links %}
                          <li class="menu-link">
                            <a href="{{ link.url }}" class="{% if link.active %}is-active{% endif %}">
                              {{ link.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}

                  {% if block.settings.link_list_3 != blank %}
                    <div class="custom-linklist grid-item">
                      {% assign menu = linklists[block.settings.link_list_3] %}
                      <p class="menu__heading h5">
                        {% if link_setting != blank %}<a href="{{ link_setting }}">{% endif %}
                        {{ menu.title }}
                        {% if link_setting != blank %}</a>{% endif %}
                      </p>
                      <ul>
                        {% for link in menu.links %}
                          <li class="menu-link">
                            <a href="{{ link.url }}" class="{% if link.active %}is-active{% endif %}">
                              {{ link.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}

                  {% if block.settings.link_list_4 != blank %}
                    <div class="custom-linklist grid-item">
                      {% assign menu = linklists[block.settings.link_list_4] %}
                      <p class="menu__heading h5">
                        {% if link_setting != blank %}<a href="{{ link_setting }}">{% endif %}
                        {{ menu.title }}
                        {% if link_setting != blank %}</a>{% endif %}
                      </p>
                      <ul>
                        {% for link in menu.links %}
                          <li class="menu-link">
                            <a href="{{ link.url }}" class="{% if link.active %}is-active{% endif %}">
                              {{ link.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}

                  {% if block.settings.image_1 != blank %}
                    <div class="custom-image image-1 grid-item">
                      <p class="image__heading h5">
                        {{ block.settings.image_1_top_heading }}
                      </p>
                      <a href="{{ block.settings.image_1_link }}">
                        <div class="image">
                          <img src="{{ block.settings.image_1 | img_url: '400x' }}">
                        </div>
                        <p class="image-title">{{ block.settings.image_1_title }}</p>
                      </a>
                    </div>
                  {% endif %}

                  {% if block.settings.image_2 != blank %}
                    <div class="custom-image image-2 grid-item">
                      <p class="image__heading h5">
                        {{ block.settings.image_2_top_heading }}
                      </p>
                      <a href="{{ block.settings.image_2_link }}">
                        <div class="image">
                          <img src="{{ block.settings.image_2 | img_url: '400x' }}">
                        </div>
                        <p class="image-title">{{ block.settings.image_2_title }}</p>
                      </a>
                    </div>
                  {% endif %}

                  {% if block.settings.image_3 != blank %}
                    <div class="custom-image image-3 grid-item">
                      <p class="image__heading h5">
                        {{ block.settings.image_3_top_heading }}
                      </p>
                      <a href="{{ block.settings.image_3_link }}">
                        <div class="image">
                          <img src="{{ block.settings.image_3 | img_url: '400x' }}">
                        </div>
                        <p class="image-title">{{ block.settings.image_3_title }}</p>
                      </a>
                    </div>
                  {% endif %}

                  {% if block.settings.image_4 != blank %}
                    <div class="custom-image image-4 grid-item">
                      <p class="image__heading h5">
                        {{ block.settings.image_4_top_heading }}
                      </p>
                      <a href="{{ block.settings.image_4_link }}">
                        <div class="image">
                          <img src="{{ block.settings.image_4 | img_url: '400x' }}">
                        </div>
                        <p class="image-title">{{ block.settings.image_4_title }}</p>
                      </a>
                    </div>
                  {% endif %}
                </div>
              {% endfor %}

              
            </div>
          </div>
        </div>
      {%- elsif has_dropdown -%}
        <ul class="site-nav__dropdown text-left">
          {%- for childlink in link.links -%}
            {%- liquid
              assign has_sub_dropdown = false
              if childlink.links != blank
                assign has_sub_dropdown = true
              endif
            -%}

            <li class="{% if has_sub_dropdown %} site-nav__deep-dropdown-trigger{% endif %}">
              <a
                href="{{ childlink.url }}"
                class="site-nav__dropdown-link site-nav__dropdown-link--second-level{% if has_sub_dropdown %} site-nav__dropdown-link--has-children{% endif %}"
              >
                {{ childlink.title | escape }}
                {%- if has_sub_dropdown -%}
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    role="presentation"
                    class="icon icon--wide icon-chevron-down"
                    viewBox="0 0 28 16"
                  >
                    <path d="m1.57 1.59 12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none"/>
                  </svg>
                {%- endif -%}
              </a>
              {%- if has_sub_dropdown -%}
                <ul class="site-nav__deep-dropdown">
                  {%- for grandchildlink in childlink.links -%}
                    <li>
                      <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">
                        {{- grandchildlink.title | escape -}}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      {% if is_megamenu or has_dropdown %}
        </details>
      {% endif %}
    </li>
  {%- endfor -%}
</ul>
