<div id="cart-sample-product" class="custom-dots-style" style="display:none;">
  {% if settings.heading != blank or settings.text != blank %}
    <div class="top-heading">
      {% if settings.heading != blank %}
        <h2>{{ settings.heading }}</h2>
      {% endif %}
      {% if settings.text != blank %}
        <h4>{{ settings.text }}</h4>
      {% endif %}
    </div>
  {% endif %}

  {% assign cart_total_dollars = cart.total_price | divided_by: 100 %}
  {% assign required_amount = settings.amount | times: 1 %}
  {% if cart_total_dollars > required_amount %}
    <div class="sample-product-row premium-product {% if settings.premium_products.size > 4 %}sample-product-slider{% endif %}">
      {% for Pproduct in settings.premium_products %}
        <div class="sample-product">
          <div class="f-image">
            <img src="{{ Pproduct.featured_image | img_url:'300x' }}">
          </div>
          <div class="grid-product__info">
            <div class="grid-product__title grid-product__title--body">{{ Pproduct.title }}</div>
            {% assign current_variant = Pproduct.selected_or_first_available_variant %}
            <div class="atc-btn">
              <button
                type="button"
                {% unless current_variant.available %}
                  disabled="disabled"
                {% endunless %}
                onclick="add_to_cart_grid({{ current_variant.id }}, 1)"
                class="btn"
              >
                {% if current_variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  {% else %}
    <div class="sample-product-row simple-product">
      {% for Sproduct in settings.sample_products %}
        <div class="sample-product">
          <div class="f-image">
            <img src="{{ Sproduct.featured_image | img_url:'300x' }}">
          </div>
          <div class="grid-product__info">
            <div class="grid-product__title grid-product__title--body">{{ Sproduct.title }}</div>
            {% assign current_variant = Sproduct.selected_or_first_available_variant %}
            <div class="atc-btn">
              <button
                type="button"
                {% unless current_variant.available %}
                  disabled="disabled"
                {% endunless %}
                onclick="add_to_cart_grid({{ current_variant.id }}, 1)"
                class="btn"
              >
                {% if current_variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  
            

            <div class="checkout-btn">
                <a class="btn cart__checkout" href="/checkout">
                  {{ 'cart.general.checkout' | t }}
                </a>
              </div>
</div>
