{% style %}
  #shopify-section-{{section.id}} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      background-color: {{section.settings.bg_color}};
  }

  @media screen and (max-width:768px){
    #shopify-section-{{section.id}} {
      padding-top: {{ section.settings.padding_top_m }}px;
      padding-bottom: {{ section.settings.padding_bottom_m }}px;
    }
  }
{% endstyle %}

<div class="page-width">
  {%- if section.settings.title != blank -%}
    <div
      class="
        ingredients-title
        section-header
      "
    >
      <h2 class="text-{{ section.settings.align_text }}">{{ section.settings.title }}</h2>
    </div>
  {%- endif -%}

  <div class="image-slider-with-text">
    <div class="slider slider-for">
      {% for block in section.blocks %}
        <div class="slider-banner-image">
          <img src="{{ block.settings.image | img_url: 'master' }}">
        </div>
      {% endfor %}
    </div>
    <div class="slider slider-nav">
      {% for block in section.blocks %}
        <div class="slider-info">
          {% if block.settings.title != blank %}
            <h3>{{ block.settings.title }}</h3>
          {% endif %}

          {% if block.settings.text != blank %}
            <div class="block-text rte">
              {%- if block.settings.enlarge_text %}<div class="enlarge-text">{% endif -%}
                {{ block.settings.text }}
              {%- if block.settings.enlarge_text %}</div>{% endif -%}
            </div>
          {% endif %}

           {%- if block.settings.button_label != blank -%}
            <div class="appear-delay{% cycle '','-1','-2','-3','-4' %}">
              <a href="{{ block.settings.button_link }}" class="btn{% if block.settings.button_style == 'secondary' %} btn--tertiary{% endif %}">
                {{ block.settings.button_label }}
              </a>
            </div>
          {%- endif -%}

          
        </div>
      {% endfor %}
    </div>


    <div class="custom-arrows">
      <div class="left-arrow">
      Left
      </div>
      <div class="right-arrow">
      Right
      </div>
    </div>


    
  </div>
</div>

    

{% schema %}
{
  "name": "Image slider with text",
  "class": "image-slider-with-text-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:common.text_with_icons.settings.title.label"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "t:common.text_with_icons.settings.align_text.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:common.text_with_icons.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:common.text_with_icons.settings.align_text.options.center.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Spacing Desktop"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing Mobile"
    },
    {
      "type": "number",
      "id": "padding_top_m",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom_m",
      "label": "Bottom spacing",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "image_slider_block",
      "name": "t:common.text_with_icons.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Text Column"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:common.text_with_icons.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:common.text_with_icons.blocks.column.settings.text.label"
        },
        {
          "type": "checkbox",
          "id": "enlarge_text",
          "label": "t:sections.rich-text.blocks.text.settings.enlarge_text.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.text-and-image.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.text-and-image.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.text-and-image.settings.button_style.label",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.text-and-image.settings.button_style.options.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.text-and-image.settings.button_style.options.secondary.label"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image slider with text",
      "blocks": [
        {
          "type": "image_slider_block"
        },
        {
          "type": "image_slider_block"
        },
        {
          "type": "image_slider_block"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
