{%- style -%}
  .logo-bar--{{ section.id }} {
    opacity: {{ section.settings.logo_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width">
  {%- if section.settings.title != blank -%}
    <div class="section-header">
      <h2 class="section-header__title">{{ section.settings.title | escape }}</h2>
    </div>
  {%- endif -%}

  <div class="product-tabs">
    <div class="tab-row">
      {% for block in section.blocks %}
        <a href="#" class="tab {% if forloop.index == 1 %}active{% endif %}" data-toggle-target=".tab-content-{{ forloop.index }}">
          {{ block.settings.tab_title }}
        </a>
      {% endfor %}
    </div>

    <div class="tab-content-row">
      {% for block in section.blocks %}
        <div class="tab-content tab-content-{{ forloop.index }} {% if forloop.index == 1 %}active{% endif %}">

          {% if block.settings.show_product_description %}
            <div class="product-description">
              {{ product.description }}
            </div>
          {% endif %}
          
        </div>
      {% endfor %}
    </div>

    
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "t:sections.logo-list.name",
  "class": "index-section product-tabs-section",
  "max_blocks": 10,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.logo-list.settings.title.label"
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.logo-list.settings.divider.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab title",
          "default": "Tab title"
        },
        {
          "type": "checkbox",
          "id": "show_product_description",
          "label": "Show product description",
          "default": false
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.logo-list.presets.logo_list.name"
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
