{%- style -%}
  .logo-bar--{{ section.id }} {
    opacity: {{ section.settings.logo_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width">
  {%- if section.settings.title != blank -%}
    <div class="section-header">
      <h2 class="section-header__title">{{ section.settings.title | escape }}</h2>
    </div>
  {%- endif -%}

  <div class="product-tabs">
    <div class="tab-row">
      {% for block in section.blocks %}
        {% if block.type == 'product_description' %}
          {% if product.description != blank %}
            <a
              href="#"
              class="tab {% if forloop.index == 1 %}active{% endif %}"
              data-toggle-target=".tab-content-{{ forloop.index }}"
            >
              {{ block.settings.tab_title }}
            </a>
          {% endif %}
        {% else %}

          {% if block.settings.text != blank or block.settings.image != blank or block.settings.video_url != blank %}
            <a
              href="#"
              class="tab {% if forloop.index == 1 %}active{% endif %}"
              data-toggle-target=".tab-content-{{ forloop.index }}"
            >
              {{ block.settings.tab_title }}
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-content-row">
      {% for block in section.blocks %}
        <div class="tab-content tab-content-{{ forloop.index }} {% if forloop.index == 1 %}active{% endif %}">
          {% if block.type == 'product_description' %}

            {% if product.description != blank %}
              <div class="product-description">
                {{ product.description }}
              </div>
            {% endif %}

          {% else %}

            {% if block.settings.text != blank or block.settings.image != blank or block.settings.video_url != blank %}
            <div class="tab__text-image-video">
              {% if block.settings.text != blank %}
                <div class="text">
                  {{ block.settings.text }}
                </div>
              {% endif %}

              {% if block.settings.image != blank or block.settings.video_url != blank %}
                <div class="product-tab__image-video">
                  {% if block.settings.video_url != blank %}
                  <div class="product-tab__video">
                    <video controls>
                      <source src="{{ block.settings.video_url }}" type="video/mp4">
                    </video>
                  </div>
                  {% else %}
                  <div class="product-tab__image">
                    <img src="{{ block.settings.image | img_url: 'master' }}">
                  </div>
                {% endif %}
                </div>
              {% endif %}
            </div>
          {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "Product tabs",
  "class": "index-section product-tabs-section",
  "max_blocks": 10,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.logo-list.settings.title.label"
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.logo-list.settings.divider.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab title",
          "default": "Tab title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "video_url",
          "label": "Video Url"
        }
      ]
    },
    {
      "type": "product_description",
      "name": "Product description",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab title",
          "default": "Tab title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product tabs"
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
