{% style %} 
  #shopify-section-{{section.id}} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      background-color: {{section.settings.bg_color}};
  }

  @media screen and (max-width:768px){
    #shopify-section-{{section.id}} {
      padding-top: {{ section.settings.padding_top_m }}px;
      padding-bottom: {{ section.settings.padding_bottom_m }}px;
    }
  }
{% endstyle %}

 

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}


  <div class="classes-schedule-wrap page-width">

      {% for block in section.blocks %}
        <div class="classes-schedule-row" {{ block.shopify_attributes }}>
          <div class="left-column col">
              <p class="month">{{ block.settings.month }}</p>
              <h4 class="date">{{ block.settings.date }}</h4>
              <p class="classes">{{ block.settings.class }}</p>
          </div>

          <div class="right-column col">
              <div class="classes-schedule-title">
                <h3>{{ block.settings.title }}</h3>
              </div>
  
            {% if block.settings.text != blank %}
              <div class="classes-schedule-text">
                {{ block.settings.text }}
              </div>
            {% endif %}

            {% if block.settings.button_label != blank %}
              <div class="classes-schedule-button">
                <a href="{{ block.settings.button_link }}">{{ block.settings.button_label }}</a>
              </div>
            {% endif %}
            </div>
          
        </div>
      {% endfor %}
    </div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "Classes schedule",
  "class": "classes-schedule-section",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Spacing Desktop"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing Mobile"
    },
    {
      "type": "number",
      "id": "padding_top_m",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom_m",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:common.text_with_icons.settings.divider.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "class",
      "name": "Class",
      "settings": [
        { 
          "type": "text",
          "id": "month",
          "label": "Month"
        },
        { 
          "type": "text",
          "id": "date",
          "label": "Date"
        },
        { 
          "type": "text",
          "id": "class",
          "label": "Class"
        },
        { 
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        { 
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        { 
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Classes schedule",
      "blocks": [
        {
          "type": "class"
        },
        {
          "type": "class"
        },
        {
          "type": "class"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}

