{%- style -%}
.logo-bar--{{ section.id }} {
  opacity: {{ section.settings.logo_opacity | divided_by: 100.0 }};
}
{%- endstyle -%}

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width" data-aos="logo__animation">
  {%- if section.settings.title != blank -%}
    <div class="section-header">
      <h2 class="section-header__title">{{ section.settings.title | escape }}</h2>
    </div>
  {%- endif -%}

  {%- if section.blocks.size > 0 -%}
    <div class="custom-gallery colum-{{ section.settings.image_per_row }}">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'image' %}
            {% if block.settings.image != blank %}
              <a href="{{ block.settings.image | image_url : width: 1200 }}" data-fancybox="gallery" class="gallery-item image-item">
                <img src="{{ block.settings.image | image_url : width: 450 }}" width="" height="">
              </a>
            {% endif %}
          {% when 'video' %}
            <a href="{{ block.settings.self_hosted_url }}" data-fancybox="gallery" class="gallery-item video-item">
               <img src="{{ block.settings.video_thumbnail | image_url : width: 450 }}" width="" height="">
            </a>
        {% endcase %}
      {% endfor %}
    </div>
  {%- endif -%}
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "Gallery",
  "class": "index-section custom-gallery-wrap",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.logo-list.settings.title.label"
    },
    {
      "type": "range",
      "id": "image_per_row",
      "label": "Images Per row",
      "default": 4,
      "min": 2,
      "max": 8,
      "step": 1
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_caption",
          "label": "Image Caption"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "url",
          "id": "self_hosted_url",
          "label": "Self Hosted video url"
        },
         {
          "type": "image_picker",
          "id": "video_thumbnail",
          "label": "Video Thumbnail"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery"
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
