{% style %}
  #shopify-section-{{section.id}} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      background-color: {{section.settings.bg_color}};




    body {
  background-color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: #000000;
  padding-right: 0 !important;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

/*USE CSS for Slider*/

.vehicle-detail-banner .car-slider-desc {
  max-width: 180px;
  margin: 0 auto;
}
.banner-slider .slider.slider-for {
  max-width: 84%;
  padding-right: 35px;
}
.banner-slider .slider.slider-nav {
  max-width: 16%;
}
.banner-slider .slider.slider-for,
.banner-slider .slider.slider-nav {
  width: 100%;
  float: left;
}
.banner-slider .slider.slider-nav {
  height: 610px;
  overflow: hidden;
}
.slider-banner-image {
  height: 610px;
}
.banner-slider .slider.slider-nav {
  padding: 20px 0 0;
}
.slider-nav .slick-slide.thumbnail-image .thumbImg {
  max-width: 178px;
  height: 110px;
  margin: 0 auto;
  border: 1px solid #ebebeb;
}
.slider-banner-image img,
.slider-nav .slick-slide.thumbnail-image .thumbImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slick-vertical .slick-slide:active,
.slick-vertical .slick-slide:focus,
.slick-arrow:hover,
.slick-arrow:focus {
  border: 0;
  outline: 0;
}
.slider-nav .slick-slide.slick-current.thumbnail-image .thumbImg {
  border: 2px solid #196db6;
}
.slider-nav .slick-slide.slick-current span {
  color: #196db6;
}
.slider-nav .slick-slide {
  text-align: center;
}
.slider-nav .slick-slide span {
  font-size: 14px;
  display: block;
  padding: 5px 0 15px;
}
.slick-arrow {
  width: 100%;
  background-color: transparent;
  border: 0;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  height: 18px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
}
.slick-prev {
  top: 0;
}
.slick-next {
  bottom: 0;
  background-color: #fff;
}
.slick-prev.slick-arrow {
  background-image: url(../images/black-up-arrow.png);
}
.slick-next.slick-arrow {
  background-image: url(../images/black-down-arrow.png);
}
/*End USE CSS for Slider*/

@media screen and (max-width: 991px) {
  .banner-slider .slider.slider-for,
  .banner-slider .slider.slider-nav {
    max-width: 100%;
    float: none;
  }
  .banner-slider .slider.slider-for {
    padding-right: 0;
  }
  .banner-slider .slider.slider-nav {
    height: auto;
  }
  .slider-banner-image {
    height: 500px;
  }
  .slider.slider-nav.thumb-image {
    padding: 10px 30px 0;
  }
  .slider-nav .slick-slide span {
    padding: 5px 0;
  }
  .slick-arrow {
    padding: 0;
    width: 30px;
    height: 30px;
    top: 50%;
    bottom: 0;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
  }
  .slick-prev {
    left: 0;
    right: unset;
  }
  .slick-next {
    left: unset;
    right: 0;
    background-color: transparent;
  }
  .vehicle-detail-banner .car-slider-desc {
    max-width: 340px;
  }
  .bid-tag {
    padding: 10px 0 15px;
  }
  .slider.slider-nav.thumb-image {
    white-space: nowrap;
  }
  .thumbnail-image.slick-slide {
    padding: 0px 5px;
    min-width: 75px;
    display: inline-block;
    float: none;
  }
}

@media screen and (max-width: 767px) {
  .slider-banner-image {
    height: 400px;
  }
  .slider.slider-nav.thumb-image {
    padding: 0px 20px 0;
    margin: 10px 0px 0;
  }
  .slider-nav .slick-slide.thumbnail-image .thumbImg {
    max-width: 140px;
    height: 80px;
  }
  .slick-prev.slick-arrow {
    background-position: center 10px;
  }
  .slick-next.slick-arrow {
    background-position: center 10px, center;
  }
  .slider-nav .slick-slide span {
    font-size: 12px;
    white-space: normal;
  }
}

@media screen and (max-width: 580px) {
  .slider-banner-image {
    height: 340px;
  }
}

@media screen and (max-width: 480px) {
  .slider-banner-image {
    height: 280px;
  }
}



    
  }

  @media screen and (max-width:768px){
    #shopify-section-{{section.id}} {
      padding-top: {{ section.settings.padding_top_m }}px;
      padding-bottom: {{ section.settings.padding_bottom_m }}px;
    }
  }

  
{% endstyle %}

<div class="page-width">
  {%- if section.settings.title != blank -%}
    <div
      class="
        ingredients-title
        section-header
      "
    >
      <h2 class="text-{{ section.settings.align_text }}">{{ section.settings.title }}</h2>
    </div>
  {%- endif -%}




                  <div class="vehicle-detail-banner banner-content clearfix">
                    <div class="banner-slider">
                        <div class="slider slider-for">
                            <div class="slider-banner-image">
                                <img src="https://images.unsplash.com/photo-1570942872213-1242607a35eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Car-Image">
                            </div> 
                            <div class="slider-banner-image">
                                <img src="https://images.unsplash.com/photo-1570171278960-d6c2b316f3b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Car-Image">
                            </div> 
                            <div class="slider-banner-image">
                                <img src="https://images.unsplash.com/photo-1564376130023-5360fbb7c91b?ixlib=rb-1.2.1&auto=format&fit=crop&w=724&q=80" alt="Car-Image">
                            </div> 
                             <div class="slider-banner-image">
                                <img src="https://images.unsplash.com/photo-1570942872213-1242607a35eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Car-Image">
                            </div> 
                            <div class="slider-banner-image">
                                <img src="https://images.unsplash.com/photo-1570171278960-d6c2b316f3b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Car-Image">
                            </div> 
                            <div class="slider-banner-image">
                                <img src="https://images.unsplash.com/photo-1564376130023-5360fbb7c91b?ixlib=rb-1.2.1&auto=format&fit=crop&w=724&q=80" alt="Car-Image">
                            </div> 
                             <div class="slider-banner-image">
                                <img src="https://images.unsplash.com/photo-1570942872213-1242607a35eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Car-Image">
                            </div> 
                            <div class="slider-banner-image">
                                <img src="https://images.unsplash.com/photo-1570171278960-d6c2b316f3b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Car-Image">
                            </div> 
                            <div class="slider-banner-image">
                                <img src="https://images.unsplash.com/photo-1564376130023-5360fbb7c91b?ixlib=rb-1.2.1&auto=format&fit=crop&w=724&q=80" alt="Car-Image">
                            </div> 
                        </div>
                        <div class="slider slider-nav thumb-image">
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="https://images.unsplash.com/photo-1570942872213-1242607a35eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="slider-img">
                                </div>
                                <span>White Pearl Crystal Shine1</span>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="https://images.unsplash.com/photo-1570171278960-d6c2b316f3b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="slider-img">
                                </div>
                                <span>White Pearl Crystal Shine2</span>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="https://images.unsplash.com/photo-1564376130023-5360fbb7c91b?ixlib=rb-1.2.1&auto=format&fit=crop&w=724&q=80" alt="slider-img">
                                </div>
                                <span>White Pearl Crystal Shine3</span>
                            </div>
                              <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="https://images.unsplash.com/photo-1570942872213-1242607a35eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="slider-img">
                                </div>
                                <span>White Pearl Crystal Shine1</span>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="https://images.unsplash.com/photo-1570171278960-d6c2b316f3b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="slider-img">
                                </div>
                                <span>White Pearl Crystal Shine2</span>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="https://images.unsplash.com/photo-1564376130023-5360fbb7c91b?ixlib=rb-1.2.1&auto=format&fit=crop&w=724&q=80" alt="slider-img">
                                </div>
                                <span>White Pearl Crystal Shine3</span>
                            </div>
                              <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="https://images.unsplash.com/photo-1570942872213-1242607a35eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="slider-img">
                                </div>
                                <span>White Pearl Crystal Shine1</span>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="https://images.unsplash.com/photo-1570171278960-d6c2b316f3b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="slider-img">
                                </div>
                                <span>White Pearl Crystal Shine2</span>
                            </div>
                            <div class="thumbnail-image">
                                <div class="thumbImg">
                                    <img src="https://images.unsplash.com/photo-1564376130023-5360fbb7c91b?ixlib=rb-1.2.1&auto=format&fit=crop&w=724&q=80" alt="slider-img">
                                </div>
                                <span>White Pearl Crystal Shine3</span>
                            </div>
                            
                        </div>
                    </div>
                </div>



  

</div>


<script>

  
$('.slider-for').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    asNavFor: '.slider-nav'
});
$('.slider-nav').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    vertical:true,
    asNavFor: '.slider-for',
    dots: false,
    focusOnSelect: true,
    verticalSwiping:true,
    responsive: [
    {
        breakpoint: 992,
        settings: {
          vertical: false,
        }
    },
    {
      breakpoint: 768,
      settings: {
        vertical: false,
      }
    },
    {
      breakpoint: 580,
      settings: {
        vertical: false,
        slidesToShow: 3,
      }
    },
    {
      breakpoint: 380,
      settings: {
        vertical: false,
        slidesToShow: 2,
      }
    }
    ]
});
  
</script>

{% schema %}
{
  "name": "Image slider with text",
  "class": "index-section image-slider-with-text-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:common.text_with_icons.settings.title.label"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "t:common.text_with_icons.settings.align_text.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:common.text_with_icons.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:common.text_with_icons.settings.align_text.options.center.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color"
    },
    {
      "type": "range",
      "id": "desktop_columns_per_row",
      "label": "t:common.text_with_icons.settings.desktop_columns_per_row.label",
      "default": 3,
      "min": 2,
      "max": 4,
      "step": 1
    },
    {
      "type": "range",
      "id": "mobile_columns_per_row",
      "label": "Mobile columns per row",
      "default": 2,
      "min": 1,
      "max": 3,
      "step": 1
    },
    {
      "type": "color",
      "id": "block_title_color",
      "label": "Block title color"
    },
    {
      "type": "color",
      "id": "block_text_color",
      "label": "Block text color"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Spacing Desktop"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing Mobile"
    },
    {
      "type": "number",
      "id": "padding_top_m",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom_m",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:common.text_with_icons.settings.divider.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "t:common.text_with_icons.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:common.text_with_icons.blocks.column.settings.title.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Read More"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:common.text_with_icons.blocks.column.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image slider with text",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
