{%- style -%}
.custom-gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    padding: 5px;
}

.custom-gallery--{{ section.id }}.column-1 .gallery-item  {
  width: 100%;
}
.custom-gallery--{{ section.id }}.column-2 .gallery-item  {
  width: 50%;
}
.custom-gallery--{{ section.id }}.column-3 .gallery-item  {
  width: 33.33%;
}
.custom-gallery--{{ section.id }}.column-4 .gallery-item  {
  width: 25%;
}
.custom-gallery--{{ section.id }}.column-5 .gallery-item  {
  width: 20%;
}
.custom-gallery--{{ section.id }}.column-6 .gallery-item  {
  width: 16.66%;
}
.custom-gallery--{{ section.id }}.column-7 .gallery-item  {
  width: 14.28%;
}
.custom-gallery--{{ section.id }}.column-8 .gallery-item  {
  width: 12.5%;
}

.custom-gallery .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

{%- endstyle -%}

<div class="page-width" data-aos="logo__animation">
  {%- if section.settings.title != blank -%}
    <div class="section-header">
      <h2 class="section-header__title">{{ section.settings.title | escape }}</h2>
    </div>
  {%- endif -%}

  {%- if section.blocks.size > 0 -%}
    <div class="custom-gallery column-{{ section.settings.image_per_row }} custom-gallery--{{ section.id }}">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'image' %}
            {% if block.settings.image != blank %}
              <div  class="gallery-item image-item">
              <a href="{{ block.settings.image | image_url : width: 1200 }}" data-fancybox="gallery">
                <img src="{{ block.settings.image | image_url : width: 450 }}" width="" height="">
              </a>
              </div>
            {% endif %}
          {% when 'video' %}
          <div  class="gallery-item video-item">
            <a href="{{ block.settings.self_hosted_url }}" data-fancybox="gallery">
               <img src="{{ block.settings.video_thumbnail | image_url : width: 450 }}" width="" height="">
            </a>
          </div>
        {% endcase %}
      {% endfor %}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Gallery",
  "class": "index-section custom-gallery-wrap",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.logo-list.settings.title.label"
    },
    {
      "type": "range",
      "id": "image_per_row",
      "label": "Images Per row",
      "default": 4,
      "min": 2,
      "max": 8,
      "step": 1
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_caption",
          "label": "Image Caption"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "url",
          "id": "self_hosted_url",
          "label": "Self Hosted video url"
        },
         {
          "type": "image_picker",
          "id": "video_thumbnail",
          "label": "Video Thumbnail"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery"
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}

