<div class="mian-F-B-wrapper">
  <div class="main-F-B-heading">{{ section.settings['main-F-B-headings'] }}</div>
  <div class="main-F-B">
    <div class="products-wrapper-F-B">
      <div class="main-product">
        <div class="product-img-F-B">
          <img src="{{ product.featured_image | product_img_url:'master' }}">
        </div>
        <div class="main-product-info">
          <p class="Product-tag">This Product</p>
          <h3 class="product-heading">{{ product.title }}</h3>
          <p>{{ product.price | money }}</p>
        </div>
      </div>
      {% for block in section.blocks %}
          <div class="suggested-product">
            {% assign product = block.settings.suggested-product %}
            <div class="product-img-F-B">
              <img src="{{ product.featured_image | product_img_url:'master' }}">
            </div>
            <div class="main-product-info">
              <p class="Product-tag">Suggested Product</p>
              <h3 class="product-heading">{{ product.title }}</h3>
              <p>{{ product.price | money }}</p>
            </div>
          </div>
      {% endfor %}
    </div>
    <div class="F-B-info"></div>
  </div>
</div>
{% schema %}
{
  "name": "frequently-boughts",
  "settings": [
    {
      "type": "richtext",
      "id": "main-F-B-headings",
      "label": "Heading"
    }
  ],
  "blocks": [
 {
  "type": "product",
   "name": "Suggest Product",
  "settings": [
    {
      "type": "product",
      "id": "suggested-product",
      "label": "Suggested Product"
    }
  ],
 },
  ],
  "presets": [
    {
      "name": "Frequently Boughts"
    }
  ]
}
{% endschema %}
