{% style %}
  #shopify-section-{{section.id}} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      background-color: {{section.settings.bg_color}};
  }

  #shopify-section-{{section.id}} .grid__item {
      flex: 0 0 calc(100% / {{ section.settings.desktop_columns_per_row }});
      width: calc(100% / {{ section.settings.desktop_columns_per_row }});
  }


  @media screen and (max-width:768px){
    #shopify-section-{{section.id}} {
      padding-top: {{ section.settings.padding_top_m }}px;
      padding-bottom: {{ section.settings.padding_bottom_m }}px;
    }

    #shopify-section-{{section.id}} .grid__item {
      flex: 0 0 calc(100% / {{ section.settings.mobile_columns_per_row }});
      width: calc(100% / {{ section.settings.mobile_columns_per_row }});
    }


  }
{% endstyle %}



{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="text-columns-with-images-section page-width">
  {%- if section.settings.title != blank or section.settings.text != blank -%}
    <div class="section-header text-{{ section.settings.align_text }}">
      <h2>{{ section.settings.title }}</h2>
      {%- if section.settings.text != blank -%}
        <div class="rte">
          {{ section.settings.text }}
        </div>
    {%- endif -%}
    </div>
  {%- endif -%}

  <div class="grid{% unless section.blocks.size == 5 %} grid--uniform{% endunless %} grid--flush-bottom">
    {%- for block in section.blocks -%}

      <div class="grid__item text-{{ section.settings.block_align_text }}" {{ block.shopify_attributes }} data-aos="row-of-3">
        {%- if block.settings.enable_image -%}
          <div style="{% if section.settings.block_align_text == 'center' %}margin: 0 auto;{% endif %} max-width: {{ block.settings.image_width }}px;">
            {%- if block.settings.button_link != blank -%}
              <a href="{{ block.settings.button_link }}">
            {%- endif -%}
            {%- if block.settings.image != blank -%}
              <div class="image-wrap text-spacing {% if block.settings.image_mask != 'none' %}svg-mask svg-mask--{{ block.settings.image_mask }}{% endif %}" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
                {%- render 'image-element',
                  img: block.settings.image,
                  sizeVariable: column_width,
                  widths: '180, 360, 540, 720, 900, 1080',
                -%}
              </div>
            {%- else -%}
              <div class="image-wrap text-spacing {% if block.settings.image_mask != 'none' %}svg-mask svg-mask--{{ block.settings.image_mask }}{% endif %}">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
            {%- endif -%}
            {%- if block.settings.button_link != blank -%}
              </a>
            {%- endif -%}
          </div>
        {%- endif -%}
        {%- if block.settings.title != blank -%}
          <h3>{{ block.settings.title }}</h3>
        {%- endif -%}
        {%- if block.settings.text != blank -%}
          <div class="rte-setting text-spacing">{{ block.settings.text }}</div>
        {%- endif -%}
        {%- if block.settings.button_label != blank -%}
          <div class="grid__item-button">
            <a href="{{ block.settings.button_link }}" class="{% if block.settings.button_style == 'solid' %}btn btn--medium {% else %}link{% endif %}">
              {{ block.settings.button_label }}
            </a>
          </div>
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>


  {%- if section.settings.button_label != blank -%}
    <div class="text-columns-buttons">
      <a href="{{ section.settings.button_link }}" class="btn btn--large">{{ section.settings.button_label }}</a>
    </div>
  {%- endif -%}
  
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "t:sections.text-columns.name",
  "class": "text-columns-with-images",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.text-columns.settings.title.label"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "t:sections.text-columns.settings.align_text.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:sections.text-columns.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.text-columns.settings.align_text.options.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.text-columns.settings.align_text.options.right.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "range",
      "id": "desktop_columns_per_row",
      "label": "t:common.text_with_icons.settings.desktop_columns_per_row.label",
      "default": 3,
      "min": 2,
      "max": 4,
      "step": 1
    },
    {
      "type": "range",
      "id": "mobile_columns_per_row",
      "label": "Mobile columns per row",
      "default": 2,
      "min": 1,
      "max": 3,
      "step": 1
    },
    {
      "type": "select",
      "id": "block_align_text",
      "label": "Block text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:sections.text-columns.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.text-columns.settings.align_text.options.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.text-columns.settings.align_text.options.right.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Spacing Desktop"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing Mobile"
    },
    {
      "type": "number",
      "id": "padding_top_m",
      "label": "Top spacing",
      "default": 0
    },
    {
      "type": "number",
      "id": "padding_bottom_m",
      "label": "Bottom spacing",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.text-columns.settings.divider.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "t:sections.text-columns.blocks.column.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_image",
          "label": "t:sections.text-columns.blocks.column.settings.enable_image.label",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.text-columns.blocks.column.settings.image.label"
        },
        {
          "type": "select",
          "id": "image_mask",
          "label": "t:common.image_mask.label",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "t:common.image_mask.options.none.label"
            },
            {
              "value": "portrait",
              "label": "t:common.image_mask.options.portrait.label"
            },
            {
              "value": "landscape",
              "label": "t:common.image_mask.options.landscape.label"
            },
            {
              "value": "square",
              "label": "t:common.image_mask.options.square.label"
            },
            {
              "value": "rounded",
              "label": "t:common.image_mask.options.rounded.label"
            },
            {
              "value": "rounded-wave",
              "label": "t:common.image_mask.options.rounded-wave.label"
            },
            {
              "value": "rounded-top",
              "label": "t:common.image_mask.options.rounded-top.label"
            },
            {
              "value": "star",
              "label": "t:common.image_mask.options.star.label"
            },
            {
              "value": "splat-1",
              "label": "t:common.image_mask.options.splat-1.label"
            },
            {
              "value": "splat-2",
              "label": "t:common.image_mask.options.splat-2.label"
            },
            {
              "value": "splat-3",
              "label": "t:common.image_mask.options.splat-3.label"
            },
            {
              "value": "splat-4",
              "label": "t:common.image_mask.options.splat-4.label"
            }
          ]
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "t:sections.text-columns.blocks.column.settings.image_width.label",
          "default": 650,
          "min": 60,
          "max": 650,
          "step": 10,
          "unit": "px"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.text-columns.blocks.column.settings.title.label",
          "default": "Example title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.text-columns.blocks.column.settings.text.label",
          "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.text-columns.blocks.column.settings.button_label.label",
          "default": "Optional button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.text-columns.blocks.column.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "solid",
          "options": [
            {
              "value": "solid",
              "label": "Solid"
            },
            {
              "value": "link",
              "label": "Link"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.text-columns.presets.text_columns_with_images.name",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["custom.popups"]
  }
}
{% endschema %}
